@import "../bower_components/normalize-css/normalize.css";
@import "main.css";


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.hero-unit {
  background-color: #eee;
  border-radius: 6px;
  padding: 5%;

}